/* App Css */
.all {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: #ffffff;
}
/* Header Css */

.headerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.headerContainer {
  display: flex;
  flex-direction: row;
}

.hNav {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  align-items: center;
}
.headerHireMe {
  display: flex;
  flex-direction: row;
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
}
.logoContainer {
  position: relative;
}
.hText {
  position: absolute;
  top: 30%;
  left: 20px;
}
.hireME {
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
  background-color: #3730a3;
  color: white;
}
/* Hero Css */
.heroContainer {
}
.heroBot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heroTitle {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 72px;
  color: #1f2937;
}
.heroText {
}

.heroName {
  font-size: 20px;
  margin-left: 33%;
  margin-right: 25%;
  color: #4338ca;
  position: relative;
}
.heroLine {
  position: absolute;
  top: 52%;
  right: 100%;
}
.heroP {
  font-size: 18px;
  margin-left: 25%;
  margin-right: 25%;
  color: #6b7280;
}
.heroContainerTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-right: 1%;
}
.heroButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
}
.heroButtonsHere {
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
  background-color: #3730a3;
  color: white;
}
.heroImgContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.heroImg {
}
.gitIcon {
  margin-right: 5px;
}
/*skills Css */
.skillsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
}
.SkillTitle {
  color: #1f2937;
  font: Interd;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  width: 1039px;
  height: 64px;
  padding-left: 5%;
  padding-bottom: 3%;
}
.cardTitle {
  width: 236px;
  height: 28pxs;
  color: #4338ca;
  font: Inter;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  padding-bottom: 3%;
}
.cardText {
  color: #6b7280;
  font: Inter;
  font-weight: 400;
  size: 12px;
  line-height: 16px;
}
.skillsHr {
  margin: 5rem;
  border: 1px solid;
  color: #bab2e7;
}
/*prfile Css */
.profileTitle {
  color: #1f2937;
  font: Interd;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  width: 1039px;
  height: 64px;
  padding-left: 5%;
  padding-bottom: 3%;
}
.ProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  color: #1f2937;
}
.personInfo {
  display: flex;
  flex-direction: column;
}
.InfoTitle {
  font-size: 30px;
  color: #4338ca;
  font-weight: 500;
}
.InfoText {
  display: flex;
  flex-direction: row;

  font-weight: 600;
}
.InfoTextData {
  font-weight: 400;
  padding-left: 5%;
}

.aboutTitle {
  font-size: 30px;
  color: #4338ca;
  font-weight: 500;
}
.aboutMeTexts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skillsHr {
  margin: 5rem;
  border: 1px solid;
  color: #bab2e7;
}
/*projects Css */
.ProjecktsTitle {
  color: #1f2937;
  font: Interd;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  width: 1039px;
  height: 64px;
  padding-left: 5%;
  padding-bottom: 3%;
}
.ProjecktsContainar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  padding-left: 5%;
  padding-right: 5%;
  color: #1f2937;
}
.Projeckt {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.projecktImg {
  width: 300px;
  height: 180px;
}
.projecktTitle {
  font-size: 30px;
  color: #4338ca;
  font-weight: 500;
  padding: 5px;
}

.projecktText {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
  padding: 5px;
}
.projeckIns {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}
.projecktIN {
  display: flex;
  flex-direction: row;
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 5px 20px;
}
.ProjecktLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.projecktLink {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #3730a3;
  padding: 5px;
}
