/* App Css */
.all {
  display: flex;
  flex-direction: column;

  height: 100vh;
  background-color: #f1f1f1;
}
/* Header Css */

.headerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 3rem;
}
.headerContainer {
  display: flex;
  flex-direction: row;
}

.hNav {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.logoContainer {
  position: relative;
}
.hText {
  position: absolute;
  top: 30%;
  left: 20px;
}
.hireME {
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
  background-color: #3730a3;
  color: white;
}
/* Hero Css */
.heroContainer {
}
.heroBot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heroTitle {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 72px;
  color: #1f2937;
}
.heroText {
}
.heroName {
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
  color: #4338ca;
}
.heroP {
  font-size: 18px;
  margin-left: 25%;
  margin-right: 25%;
  color: #6b7280;
}
.heroContainerTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-right: 1%;
}
.heroButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}
.heroButtons {
  display: flex;
  flex-direction: row;
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
}
.heroButtonsHere {
  color: #3730a3;
  border: 2px solid #3730a3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 500;
  line-height: 28px;
  padding: 5px 20px;
  background-color: #3730a3;
  color: white;
}
.heroImgContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.heroImg {
}
.gitIcon {
  margin-right: 5px;
}
